# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
.env

# Streamlit
.streamlit/

# Datasets & Models
*.csv
*.h5
*.pkl
dataset/

# OS files
.DS_Store
Thumbs.db
__MACOSX/
